BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
SortIncludes: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
Standard: c++20
